div.index h3 {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
div.index h1 {
	margin-top: 0px;
	padding-top: 0px;
}
div.index a {
	color:inherit;
	text-decoration: none;
}
.poem:after, .index:before, .index:after {
	display: block;
	background: url('images/divider.png');
	content: " ";
	height: 69px;
	width: 377px;
	margin-top: 32px;
}
.poem-number {
	white-space: pre ;
	color: white;
	font-weight: bold;
}
.poem-content {
	white-space: pre ;
}
.poem-date {
	white-space: pre ;
	font-size: 0.8em;
	color: #BB99BB;
	font-style: italic;
}
.copyright {
	font-size: 0.6em;
}
