@media print {
    @page {
        size: A4 portrait;
    }

    :root:lang(fr) {
        font-size: 0.91rem;
    }

    :root:lang(en) {
        font-size: 0.95rem;
    }
}


:root {
    --accent-color: #00796b;
    --surface-color: #f4f7f6;
    --table-border: #888;
    --title-font: Arial, sans-serif;
    --secondary-text-color: #888;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: white;
    font-weight: 300;
    width: 21cm;

    @media screen {
        margin: 16px auto;
    }

    @media print {
        margin: 0px;
    }
}

header.cv-header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    background-color: var(--surface-color);
    padding: 8px;
    font-family: var(--title-font);
}

header.cv-header figure {
    margin: 0px;
}

header.cv-header .contact div {
    font-size: 0.9rem;
    color: var(--secondary-text-color);
}

.grid-item-start {
    justify-self: start;
}

.grid-item-end {
    justify-self: end;
}

table {
    width: 100%;
    margin-top: 4px;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    border: 1px solid var(--table-border);
}

td {
    padding: 0px 8px;
}

td:first-child,
th:first-child {
    border-left: none;
}

td:last-child,
th:last-child {
    border-right: none;
}

th {
    font-weight: 600;
    font-family: var(--title-font);
    padding: 8px 12px;
}

td ul {
    list-style-type: none;
    padding: 0;
}

td ul li {
    padding: 2px 0;
}

.avatar {
    width: 48px;
    border-radius: 50%;
}

.conferences {
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.conference-conference {
    color: var(--secondary-text-color);
}

.conference-title {
    margin-top: 8px;
}

.educations {
    display: flex;
    justify-content: space-between;
}

.education-degree {
    margin-top: 8px;
}

.education-institution {
    font-style: italic;
}

.experience {
    padding: 15px;
}

.experience-company {
    font-weight: bold;
}

.experience-title {
    font-weight: bold;
}

.experience-company-description {
    font-style: italic;
    margin-bottom: 16px;
}

.experience-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1rem;
    color: var(--secondary-text-color);
}

.experience-skills {
    font-size: 0.6rem;
}

.principles {
    display: flex;
    flex-flow: row wrap;
    gap: 8px;
    justify-content: space-between;
}

.principle::before {
    content: "✓ "
}

.publication-coauthors {
    font-style: italic;
}

.publication-title {
    margin-top: 8px;
}

.section-heading {
    width: 100%;
    background-color: var(--surface-color);
    font-weight: 900;
    text-align: center;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: var(--accent-color);
    color: var(--accent-color);
    padding: 10px 0;
    font-family: var(--title-font);
    text-transform: uppercase;
    margin-top: 4px;
}

.summary {
    padding: 16px;
}