:root {
    --surface-color: #222;
    --background-color: #003;
    --primary-text-color: #fff;
    --logo-text-color: #aff;
    --logo-shadow-color: #000;
    --link-text-color: #dd6;
    --heading-text-color: #dbd;
    --box-shadow-color: #888;
}